/* Default Stylings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 0 220px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 100px;
}

/* Nav Stylings */

nav.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 16px;
}

.logo-food-text {
  font-size: 31.11px;
  font-weight: 700;
  line-height: 37.33px;
  letter-spacing: -0.025em;
  color: #f17228;
}

.logo-wagon-text {
  font-size: 31.11px;
  font-weight: 700;
  line-height: 37.33px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #ffb30e;
}

.logo-wrapper {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
}

.logo-text {
  display: flex;
}

.search-food-and-login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.delivery-location-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: "Open Sans", sans-serif;
}
.deliver-to-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #424242;
}

.current-location-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: #424242;
}
.location-icon-wrapper {
  padding: 0 8px;
}

.location {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  text-align: center;
  color: #424242;
}

.search-food-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 28px;
}

.nav-search {
  font-family: "Source Sans Pro", sans-serif;
  border: 0;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #424242;
  padding: 0.5rem 0;
}

.nav-search::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #424242;
}

.login-wrapper {
  padding: 14px 24px;
  box-shadow: 0px 20px 40px 0px #ffae004a;
  box-shadow: 0px 5px 10px 0px #ffae0042;
  border-radius: 8px;
}

.login-wrapper button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.login-button-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  background: linear-gradient(92.84deg, #ffb800 -47.72%, #ff8a00 136.81%);
  background-clip: text;
  color: transparent;
}

/* Flash Deals Cards Stylings */

.flash-deals {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.discount {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 4px;
  background: #ffb30e;
  padding: 10px 18px 11px 18px;
  border-radius: 0px 32px 0px 14px;
}

.discount-amount {
  font-size: 68px;
  font-weight: 700;
  line-height: 72.08px;
  color: #ffffff;
}

.percentage {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.percent-symbol {
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
  color: #ffffff;
}

.off-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: #ffffff;
}

.flash-deals-img-wrapper {
  position: relative;
}

.flash-deals-img-wrapper img {
  width: 100%;
  border-radius: 16px;
}

.flash-deals-cards-details {
  margin-top: 15px;
}

.flash-deals-cards-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.duration {
  background: #f1722833;
  color: #f17228;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}

/* Banner Stylings */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/banner-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
  gap: 105px;
  padding-top: 6rem !important;
}

.banner-header {
  font-size: 88px;
  font-weight: 700;
  line-height: 88px;
  color: #ffffff;
}

.banner-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: #504f4f;
}

.banner-address {
  background: #ffffff;
  box-shadow: 0px 20px 40px 0px #ffae004a;
  box-shadow: 0px 5px 10px 0px #ffae0042;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  max-width: 853px;
}

.banner-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1;
  padding-bottom: 4rem;
}

.banner-right {
  align-self: flex-end;
}

.banner-right img {
  width: 100%;
  filter: drop-shadow(-20px 26px 80px rgba(0, 0, 0, 0.2));
  position: relative;
  top: 3px;
}

.delivery-options {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-bottom: 20px;
}

.delivery-options button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  font-family: "Source Sans Pro", sans-serif;
  color: #757575;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.delivery-options button.active {
  color: #f17228;
  background: #f172281a;
}

.divider {
  border-top: 1px solid #eeeeee;
  position: absolute;
  right: 0;
  left: 0;
  top: 72px;
}
.delivery-option {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  gap: 6px;
}

.enter-address {
  display: flex;
  align-items: center;
  padding-top: 26px;
  gap: 16px;
}

.find-address {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  background: linear-gradient(95.71deg, #ff7a7a -39.64%, #f75900 135.31%);
  padding: 20px 45px;
  border-radius: 8px;
  gap: 10px;
}

.find-food-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
}

.address-input {
  border: none;
  outline: none;
  background: #f5f5f5;
  padding: 17px 52px;
  border-radius: 8px;
  width: 100%;
}

.input-wrapper {
  flex: 1;
}

.address-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  color: #9e9e9e;
}

.enter-address {
  position: relative;
}

.find-food-locator {
  position: absolute;
  left: 12px;
  top: 41px;
}

.gradient-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 206, 103, 0.22) -42.47%,
    rgba(253, 237, 202, 0) 100%
  );
  margin-top: 4rem;
}

.how-does-it-work {
  padding: 80px 180px 80px 180px;
}

.how-does-it-work-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 4rem;
}

.how-does-it-work-title {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: center;
  color: #f17228;
}

.how-does-it-work-img {
  display: block;
  margin: 0 auto;
}

.how-does-it-work-feature-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-align: center;
  color: #434343;
}

.how-does-it-work-feature-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  color: #9e9e9e;
  margin-top: 14px;
}

.popular-items-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
}

.popular-items-img {
  width: 100%;
}

.popular-items-location-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.popular-items-title {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: center;
  color: #212121;
  margin-bottom: 3.5rem;
}

.popular-items-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #424242;
}

.popular-items-location {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: #ffb30e;
}

.popular-items-price {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #212121;
}

.popular-items-button {
  padding: 21px 48px;
  border: none;
  background: none;
  background: #f17228;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  box-shadow: 0px 5px 10px 0px #fd725c38;
}

.splide__arrow {
  background-color: #ffb20e !important;
  opacity: 1 !important;
  top: 30% !important;
  /* left: 10% !important; */
  font-size: 20px !important;
  box-shadow: 0px 5px 8px 0px #de97003d;
  padding: 22px !important;
}

.splide__arrow i {
  color: white;
}

button.splide__arrow.splide__arrow--next {
  right: -5%;
}

button.splide__arrow.splide__arrow--prev {
  left: -5%;
}

.featured-restaurants {
  margin-top: 3rem;
}

.featured-restaurants-card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 43px;
  column-gap: 16px;
}

.featured-restaurants-img-wrapper {
  position: relative;
}

.featured-restaurants-img-wrapper img {
  width: 100%;
}

.featured-restaurants-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.featured-restaurants-title {
  font-size: 43px;
  font-weight: 700;
  line-height: 48.16px;
  text-align: center;
  color: #212121;
  margin-bottom: 6rem;
}

.featured-restaurants-img-wrapper img {
  border-radius: 16px;
}

.restaurants-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.restaurant-star {
  display: flex;
  align-items: center;
  gap: 7px;
}

.restaurant-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #424242;
}

.restaruant-rating {
  font-size: 22px;
  font-weight: 400;
  line-height: 26.4px;
  color: #ffb30e;
}

.restaurants-open-tomorrow {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #f17228;
  background: #f1722833;
  padding: 8px 16px;
  border-radius: 16px;
  max-width: 197px;
}
.restaurants-open-now {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #79b93c;
  background: #79b93c33;
  padding: 8px 16px;
  border-radius: 16px;
  max-width: 133px;
}

.badges {
  display: flex;
  align-items: center;
  gap: 6px;
  position: absolute;
  top: 28px;
  left: 26px;
}

.discount-badge,
.fast-badge {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
}

.discount-badge {
  background: #f17228;
}

.fast-badge {
  background: #ffb30e;
}

.view-all-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-all-button {
  background: none;
  border: none;
  background: linear-gradient(97.86deg, #ffba26 -8.95%, #ff9a0e 109.24%);
  box-shadow: 0px 5px 10px 0px #ffae0042;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  padding: 20px 45px;
  border-radius: 14px;
  color: #ffffff;
  margin-top: 8rem;
  cursor: pointer;
}

/* Desktop Stylings */
@media (max-width: 1700px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1435px) {
  .container {
    padding: 0 70px;
  }

  button.splide__arrow.splide__arrow--next {
    right: -31px;
  }

  button.splide__arrow.splide__arrow--prev {
    left: -31px;
  }

  .splide__arrow {
    padding: 0 !important;
  }
}

@media (max-width: 1350px) {
  .featured-restaurants-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1305px) {
  .logo-food-text,
  .logo-wagon-text {
    font-size: 15px;
  }
  .search-food-and-login-wrapper {
    gap: 0;
  }
  .logo-wrapper {
    width: 170px;
  }
  .deliver-to-text,
  .current-location-text,
  .location,
  .nav-search::placeholder {
    font-size: 15px;
  }
}

@media (max-width: 1210px) {
  .find-address {
    padding: 17px 7px;
  }
  .address-input::placeholder {
    font-size: 14px;
  }

  .find-food-text {
    font-size: 14px;
  }
}

@media (max-width: 1165px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1100px) {
  .how-does-it-work {
    padding: 80px 40px 80px 40px;
  }
}

@media (max-width: 1100px) {
  .delivery-location-wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1030px) {
  .address-input::placeholder {
    font-size: 11px;
  }
  .banner-header {
    font-size: 50px;
  }

  .banner-text {
    font-size: 19px;
  }
}

@media (max-width: 1150px) {
  .featured-restaurants-card-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .how-does-it-work-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 916px) {
  .discount {
    padding: 7px 15px 8px 15px;
  }
  .discount-amount {
    font-size: 50px;
  }

  .percent-symbol {
    font-size: 25;
  }

  .off-text {
    font-size: 15px;
  }
}

@media (max-width: 1003px) {
  .enter-address {
    flex-direction: column;
  }

  .find-address {
    width: 100%;
    justify-content: center;
  }

  .input-wrapper {
    width: 100%;
  }

  .address-input {
    padding: 17px 40px;
  }
  .find-food-locator {
    top: 38px;
  }
}

@media (max-width: 994px) {
  .delivery-location-wrapper {
    gap: 0;
  }
}

@media screen and (max-width: 878px) and (min-width: 780px) {
  .current-location-text {
    padding: 0 0.5rem;
  }
}

/* Mobile Stylings */

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
  nav.top-nav {
    gap: 5px;
  }
  .search-icon {
    position: static;
  }

  .nav-search {
    display: none;
  }
  .delivery-location-wrapper {
    gap: 10px;
  }

  .logo-food-text,
  .logo-wagon-text {
    font-size: 15px;
  }

  .logo-wrapper {
    order: 2;
  }

  .delivery-location-wrapper {
    order: 1;
  }

  .login-wrapper {
    padding: 14px 7px;
  }

  .search-food-and-login-wrapper {
    order: 3;
  }

  .search-food-and-login-wrapper {
    gap: 12px;
  }

  .deliver-to-text,
  .current-location-text,
  .location,
  .nav-search::placeholder {
    font-size: 12px;
  }

  .deliver-to-text,
  .current-location-span,
  .location {
    display: none;
  }

  .login-button-text {
    font-size: 15px;
  }

  .flash-deals {
    flex-direction: column;
  }

  .banner {
    flex-direction: column;
    padding-top: 1rem !important;
    gap: 12px;
  }

  .banner-left {
    order: 2;
  }

  .banner-right {
    align-self: center;
    order: 1;
  }

  .banner-header,
  .banner-text {
    text-align: center;
  }

  .how-does-it-work-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-top: 4rem;
  }
  button.splide__arrow.splide__arrow--next {
    right: 0;
  }

  button.splide__arrow.splide__arrow--prev {
    left: 0;
  }

  .featured-restaurants-card-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .view-all-button {
    margin-top: 3rem;
  }
}
